= form_for [:admin, @page] do |f|
  = f.label :category_id
  = f.select :category_id, [["---",nil]]+@categories.map{ |s| [s.name, s.id]}
  = f.label :name
  = f.text_field :name
  = f.label :url_match
  = f.text_field :url_match
  = f.label :text
  = f.text_area :text
  = f.label :enabled
  = f.check_box :enabled
  = f.label :show_order
  = f.text_field :show_order  
  = f.submit
  = f.submit "Применить", :id => "page_apply", :name => "apply"
= link_to "К списку страниц", admin_pages_path