%h1 Обсуждения
- if current_author
  = link_to "Начать новое обсуждение", new_discussion_path
- else
  = link_to "Авторизуйтесь, чтобы участвовать в обсуждениях", new_user_session_path

- @discussions.each do |discussion|
  .discussion_title
    %span= link_to discussion.title, discussion_path(discussion)
    %span= "(#{discussion.says.enabled.count}  сообщений)"
    %span= discussion.author.try :name
    %span= "обновлено #{l discussion.updated_at, :format => :short}"
