%h1 Обсуждения
- if current_author
  = link_to "Начать новое обсуждение", new_discussion_path
- else
  = link_to "Авторизуйтесь, чтобы участвовать в обсуждениях", new_user_session_path

- @discussions.each do |discussion|
  .discussion_title
    .title
      = link_to discussion.title, discussion_path(discussion)
      = "(#{discussion.says.enabled.count} высказываний)"
    - if discussion.subject
      .subject
        к теме
        = link_to "'#{discussion.subject.name}'", discussion.subject.path
    .author
      автор
      = author_of(discussion)
      = ","
      = "обновлено #{l discussion.updated_at, :format => :short}"
