%h1 Начать новое обсуждение
= form_for @discussion do |f|
  = f.hidden_field :subject_id
  = f.hidden_field :subject_type
  %div
    .left_label= f.label :title
    .right_value= f.text_field :title

  #preview
  %div
    = f.fields_for :says, @say do |say|
      .left_label
        = say.label :text
        %p
          Можно использовать разметку
          = link_to "Textile", "http://textile.thresholdstate.com/", :target => "_blank"
      .right_value
        = say.text_area :text, :id => :say_text
        = preview_link

  %div
    .right_value= f.submit "Начать обсуждение"
