%h1= @discussion.title
- @discussion.says.enabled.each do |say|
  .say
    .name= say.author.try :name
    .time= l say.updated_at, :format => :short
    .text!= textile(say.text)
- if current_author
  = form_for [@discussion, @discussion.says.build] do |f|
    %h3 Ответить
    %div
      .left_label
        = f.label :text
        %p
          Можно использовать разметку
          = link_to "Textile", "http://textile.thresholdstate.com/"
      .right_value
        = f.text_area :text
    %div
      .right_value= f.submit "Отправить"
- else
  = link_to "Авторизуйтесь, чтобы участвовать в обсуждениях", new_user_session_path
