%h1 Редактирование обсуждения
= form_for [:admin, @discussion] do |f|
  = f.label :title
  = f.text_field :title
  = f.label :enabled
  = f.check_box :enabled
  = f.submit
= link_to "К списку обсуждений", admin_discussions_path
= link_to "К обсуждению", discussion_path(@discussion)
= render :partial => 'admin/says/index', :locals => {:says => @discussion.says}
