= link_to "Новая категория", new_admin_category_path, :id => :new_category
%table.admin_list
  %tr
    %th id
    %th Имя
    %th Ссылка
    %th Состояние
    %th Действия
  - @categories.each do |category|
    %tr.admin_item
      %td= category.id
      %td= link_to category.name, edit_admin_category_path(category)
      %td= link_to category.path, category.path
      %td= link_to_toggle category
      %td
        = form_for [:admin, category] do |f|
          = f.text_field :show_order
          = f.submit :class => :hidden
        = link_to "Удалить", admin_category_path(category), :method => :delete, :confirm => "Вы уверены?"