= link_to "Новая категория", new_admin_category_path
%table
  %tr
    %th id
    %th Имя
    %th Ссылка
    %th Состояние
    %th Действия
  - @categories.each do |category|
    %tr
      %th= category.id
      %th= category.name
      %th= link_to category.path, category.path
      %th= link_to_toggle category
      %th
        = link_to "Изменить", edit_admin_category_path(category)
        = link_to "Удалить", admin_category_path(category), :method => :delete, :confirm => "Вы уверены?"