%h1= @discussion.title
- if @discussion.subject
  %h3
    к теме
    = link_to "'#{@discussion.subject.name}'", @discussion.subject.path
- @says.each do |say|
  .say
    .name= say.author
    .time= l say.updated_at, :format => :short
    .text= say.html
- if can? :create, Say
  = form_for [@discussion, @discussion.says.build] do |f|
    %h3 Ответить
    #preview
    %div
      .left_label
        = f.label :text
      .right_value
        = f.text_area :text, :class => :markitup

    %div
      .right_value= f.submit "Отправить"
- else
  = link_to "Авторизуйтесь, чтобы участвовать в обсуждениях", new_user_session_path
