!!! 5
%html
  %head
    %title Административная зона
    = stylesheet_link_tag "blueprint/screen", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print", :media => "print"
    /[if lt IE 8]
      = stylesheet_link_tag "blueprint/ie", :media => "screen, projection"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body.admin
    - if notice
      .notice= notice
    - if alert
      .alert= alert
    #admin_panel
      - if admin_signed_in?
        %ul.admin_menu
          %li= link_to "Перейти на сайт", root_path
          %li= link_to "Менеджер категорий", admin_categories_path,:id => "category_manager"
          %li= link_to "Менеджер страниц", admin_pages_path, :id => "page_manager"
          %li= link_to "Профиль", edit_admin_registration_path, :id => "admin_edit"
          %li= link_to "Выйти", destroy_admin_session_path, :id => "admin_logout"
    #admin_zone= yield