!!!
%html(prefix="og: http://ogp.me/ns#")
  %head
    = render 'shared/meta_info'
    %title= title
    = stylesheet_link_tag "application"
    = csrf_meta_tag
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to '', '/', class: :brand
          = form_tag search_path, method: :get, class: "navbar-search pull-right" do
            = text_field_tag :search, params[:search], class: "search-query", placeholder: "Поиск.."
          %ul.nav.pull-right.top-menu
            %li= link_to 'Главная', '/'
            %li.dropdown
              = link_to '#', class: "index-popover" do
                Содержание
                %b.caret
              .index-popover-content.hide
                - menu_page = Page.matched("menu")
                - cache ['v1', menu_page] do
                  = menu_page.rendered_body(self)
            %li= link_to 'Ruby & Rails API', 'http://api.rusrails.ru', target: :blank

    - if notice
      .alert.alert-success
        %button.close{type: :button, data: {dismiss: :alert}} &times;
        = notice
    - if alert
      .alert.alert-error
        %button.close{type: :button, data: {dismiss: :alert}} &times;
        = alert

    .content-wrapper
      .container-fluid
        .row-fluid
          .span3.pull-right
            .well.social
              %h4 Принимаем пожелания и пул-реквесты!
              %iframe{allowtransparency: "true", frameborder: "0", height: "30", src: "http://ghbtns.com/github-btn.html?user=morsbox&repo=rusrails&type=watch&count=true&size=large", width: "180"}
              %p
              %a.twitter-follow-button{"data-lang" => "ru", href: "https://twitter.com/rusrails"}
            - if content_for?(:menu)
              .well.menu= yield(:menu)
            -# - if @page.try(:path) != 'index'
            -#   .well.banner300.banner
            -#     = render "shared/banner", url: 'http://bit.ly/rbybnr1', image: 'partners/spherecon2017.jpg'
            .well.banner300.banner
              = render "shared/adsense", position: 'sidebar'
          .span9.content.pull-left
            .banner= render "shared/adsense", position: 'top'
            -# .banner= render "shared/banner", mkdev_random_banner
            = yield
            .banner= render "shared/adsense", position: 'bottom'

        .row-fluid
          .span12#footer
            %p
              = link_to (image_tag 'github.png'), 'https://github.com/morsbox/rusrails', target: :blank
              = link_to (image_tag 'twitter.png'), 'http://twitter.com/rusrails', target: :blank
            %p
              = link_to "Лицензия CC BY-SA 4.0","https://creativecommons.org/licenses/by-sa/4.0/"
              "Rails", "Ruby on Rails" и логотип Rails - торговые марки DHH
              = render "layouts/counter"
    .to_top{ style: "display: block"}
      .to_top_panel
    = javascript_include_tag "application"
