<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <%= render 'shared/meta_info' %>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= render 'navbar' %>
    <%= render 'alerts' %>
    <%= render 'content' %>
    <%= render 'to_top' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
