!!!
%html
  %head
    %meta{:name => "keywords", :content => "ruby on rails, Ruby, Rails, Rails3, Rails4, Rails 4.0, руководство, начинающим, самоучитель, manual, мануал, справочник, учебник, примеры, Руби, рельсы"}
    %meta{:name => "description", :content => "Ruby on Rails русские руководства, учебники, статьи"}
    %title= title
    = stylesheet_link_tag "application"
    = csrf_meta_tag
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to "", root_path, :class => :brand
          .github-fork-ribbon-wrapper.left
            .github-fork-ribbon
              = link_to "Fork me on GitHub", "https://github.com/morsbox/rusrails"

          = form_tag search_path, :method => :get, :class => "navbar-search pull-right" do
            = text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Поиск.."
          %ul.nav.pull-right
            %li= link_to 'Главная', root_path
            %li.dropdown
              = link_to '#', :class => "index-popover", :data => {:title => 'Индекс руководств'} do
                Индекс
                %b.caret
              .index-popover-content.hide
                - index_page = Page.matching("index").decorate
                - cache ['v1', index_page] do
                  = index_page.html

            - if user_signed_in?
              %li= link_to current_user.name, edit_user_registration_path, :id => :user_edit
              %li= link_to "Выход", destroy_user_session_path
            - else
              %li= link_to "Регистрация", new_user_registration_path
              %li= link_to "Вход", new_user_session_path
            %li= link_to "Обсуждения", discussions_path

    - if notice
      .alert.alert-success
        %button.close{:type => :button, :data => {:dismiss => :alert}} &times;
        = notice
    - if alert
      .alert.alert-error
        %button.close{:type => :button, :data => {:dismiss => :alert}} &times;
        = alert

    .container-fluid
      .row-fluid
        .span9.content= yield
        .span3
          - if content_for?(:menu)
            .well.menu= yield(:menu)
          .well
            -# = link_to image_tag("railsclub_240x400.png", :width => 190), "http://railsclub.timepad.ru/event/29192", :target => :_blank
            = render "layouts/rsya"
      .row-fluid
        .span12#footer
          %p
            = link_to "github", "https://github.com/morsbox/rusrails", :id => :github_link
            = link_to "Карта", map_path, :id => :morsbox_link
            2010 - #{Date.today.year}
            = link_to "Твиттер", "http://twitter.com/rusrails", :id => :twitter_link
            При поддержке
            = link_to "Evrone.ru", "http://evrone.ru", :id => :evrone_link
          %p
            = link_to "Лицензия CC BY-SA 3.0","http://creativecommons.org/licenses/by-sa/3.0/"
            , "Rails", "Ruby on Rails" и логотип Rails - торговые марки D. H. Hansson
            = render "layouts/counter"

    = javascript_include_tag "application"
