!!! 5
%html
  %head
    %meta{:name => "keywords", :content => "Ruby, Rails, Rails3, 3.1.0, руководство, начинающим, самоучитель, manual, мануал, справочник, учебник, примеры, Руби, рельсы"}
    %meta{:name => "description", :content => "Ruby on Rails русские руководства, учебники, статьи"}
    %title= title
    = stylesheet_link_tag "blueprint/screen", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print", :media => "print"
    /[if lt IE 8]
      = stylesheet_link_tag "blueprint/ie", :media => "screen, projection"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      #header= link_to "", root_path, :id => "logo"
      #right
        %ul.menu
          %li.category_pages
            = form_tag search_path, :method => :get do
              = text_field_tag :search, params[:search]
              = submit_tag :search, :class => :hidden
        = menu
      #content= yield
      .clear
      #footer
        %p
          = link_to "MORSbox", "http://morsbox.ru", :id => :morsbox_link
          2011
          = link_to "Твиттер", "http://twitter.com/rusrails", :id => :twitter_link
        %p
          = link_to "Лицензия CC BY-SA 3.0","http://creativecommons.org/licenses/by-sa/3.0/"
          , "Rails", "Ruby on Rails" и логотип Rails - торговые марки D. H. Hansson
          = render "layouts/counter"
